p{
    color: black; 
    font-size: large; 
    font-weight: bold;
}

h1{color: black;}

body
{
    background-color: rgb(71, 79, 148);
    font-family: "geist mono";
    max-width: 600px;
    margin:auto
}

img{width: 600px; border: 7px; border-color: black; border-style: dotted;}






