p{
    color: black; 
    font-size: large; 
    font-weight: bold;
}

h1{color: black;}

body
{
    background-color: rgb(71, 79, 148);
    font-family: "geist mono";

}

img{width: 400px; border: 7px; border-color: black; border-style: dotted;}



